In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
os.chdir('c:\\Users\\Pablo\\Documents\\Climate DataThon 2022\\Climate-DataThon-2022\\Fishing Vessels and Trawling')

https://globalfishingwatch.org/data-download/datasets/public-training-data-v1

In [8]:
fishing_data = pd.read_csv('Data/fishing-vessels-v2.csv')
fishing_data

,mmsi,flag_ais,flag_registry,flag_gfw,vessel_class_inferred,vessel_class_inferred_score,vessel_class_registry,vessel_class_gfw,self_reported_fishing_vessel,length_m_inferred,...,registries_listed,fishing_hours_2012,fishing_hours_2013,fishing_hours_2014,fishing_hours_2015,fishing_hours_2016,fishing_hours_2017,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
0,40120000,NaN,GRC,GRC,NaN,NaN,trawlers,trawlers,True,NaN,...,EU|GFCM|IMO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,674.10
1,444002410,NaN,KOR,KOR,NaN,NaN,tuna_purse_seines,tuna_purse_seines,False,NaN,...,FFA|IMO|ISSF|KOR|WCPFC|WCPFC2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.43
2,987654320,NaN,PHL,PHL,NaN,NaN,tuna_purse_seines,tuna_purse_seines,False,NaN,...,FFA|ISSF|WCPFC|WCPFC2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.33
3,554128120,NaN,NRU,NRU,NaN,NaN,tuna_purse_seines,tuna_purse_seines,False,NaN,...,FFA|IMO|ISSF|TWN4|WCPFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,587.01
4,112119600,NaN,USA,USA,NaN,NaN,fishing,fishing,True,NaN,...,IMO|USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114186,601523000,ZAF,NaN,ZAF,other_purse_seines,0.999,NaN,other_purse_seines,True,29.29,...,NaN,NaN,NaN,NaN,225.17,248.62,276.68,268.53,138.34,309.70
114187,601554000,ZAF,NaN,ZAF,other_purse_seines,0.897,NaN,other_purse_seines,True,29.82,...,NaN,NaN,26.35,133.38,89.45,220.58,168.56,80.66,186.25,313.66
114188,601556000,ZAF,NaN,ZAF,other_purse_seines,0.764,NaN,other_purse_seines,True,33.97,...,NaN,NaN,61.26,87.62,154.18,155.50,217.70,140.74,203.67,220.57
114189,601039500,ZAF,NaN,ZAF,other_purse_seines,0.783,NaN,other_purse_seines,True,26.86,...,NaN,NaN,NaN,134.33,98.58,NaN,44.50,317.80,159.73,196.31
114190,601557000,ZAF,ZAF,ZAF,other_purse_seines,0.869,fishing,other_purse_seines,False,30.82,...,IMO,NaN,60.02,54.01,146.45,154.36,125.56,NaN,NaN,NaN

In [17]:
fishing_data.columns = ['mmsi', 'flag_ais', 'flag_registry', 'flag_gfw',
       'vessel_class_inferred', 'vessel_class_inferred_score',
       'vessel_class_registry', 'vessel_class_gfw',
       'self_reported_fishing_vessel', 'length_m_inferred',
       'length_m_registry', 'length_m_gfw', 'engine_power_kw_inferred',
       'engine_power_kw_registry', 'engine_power_kw_gfw',
       'tonnage_gt_inferred', 'tonnage_gt_registry', 'tonnage_gt_gfw',
       'registries_listed', 2012, 2013,
       2014, 2015, 2016,
       2017, 2018, 2019,
       2020]

In [18]:
fishing_data_melt = fishing_data.melt(id_vars=['mmsi', 'flag_ais', 'flag_registry', 'flag_gfw',
       'vessel_class_inferred', 'vessel_class_inferred_score',
       'vessel_class_registry', 'vessel_class_gfw',
       'self_reported_fishing_vessel', 'length_m_inferred',
       'length_m_registry', 'length_m_gfw', 'engine_power_kw_inferred',
       'engine_power_kw_registry', 'engine_power_kw_gfw',
       'tonnage_gt_inferred', 'tonnage_gt_registry', 'tonnage_gt_gfw', 'registries_listed'], 
        var_name="Date", 
        value_name="Hours")

In [19]:
fishing_data_melt

,mmsi,flag_ais,flag_registry,flag_gfw,vessel_class_inferred,vessel_class_inferred_score,vessel_class_registry,vessel_class_gfw,self_reported_fishing_vessel,length_m_inferred,...,length_m_gfw,engine_power_kw_inferred,engine_power_kw_registry,engine_power_kw_gfw,tonnage_gt_inferred,tonnage_gt_registry,tonnage_gt_gfw,registries_listed,Date,Hours
0,40120000,NaN,GRC,GRC,NaN,NaN,trawlers,trawlers,True,NaN,...,26.30,NaN,176.40,176.40,NaN,133.00,133.00,EU|GFCM|IMO,2012,NaN
1,444002410,NaN,KOR,KOR,NaN,NaN,tuna_purse_seines,tuna_purse_seines,False,NaN,...,79.60,NaN,3256.29,3256.29,NaN,2132.33,2132.33,FFA|IMO|ISSF|KOR|WCPFC|WCPFC2,2012,NaN
2,987654320,NaN,PHL,PHL,NaN,NaN,tuna_purse_seines,tuna_purse_seines,False,NaN,...,66.40,NaN,2219.27,2219.27,NaN,1081.00,1081.00,FFA|ISSF|WCPFC|WCPFC2,2012,NaN
3,554128120,NaN,NRU,NRU,NaN,NaN,tuna_purse_seines,tuna_purse_seines,False,NaN,...,71.79,NaN,2647.00,2647.00,NaN,1350.00,1350.00,FFA|IMO|ISSF|TWN4|WCPFC,2012,NaN
4,112119600,NaN,USA,USA,NaN,NaN,fishing,fishing,True,NaN,...,24.64,NaN,NaN,NaN,NaN,85.48,85.48,IMO|USA,2012,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027714,601523000,ZAF,NaN,ZAF,other_purse_seines,0.999,NaN,other_purse_seines,True,29.29,...,29.29,367.53,NaN,367.53,163.90,NaN,163.90,NaN,2020,309.70
1027715,601554000,ZAF,NaN,ZAF,other_purse_seines,0.897,NaN,other_purse_seines,True,29.82,...,29.82,362.61,NaN,362.61,135.52,NaN,135.52,NaN,2020,313.66
1027716,601556000,ZAF,NaN,ZAF,other_purse_seines,0.764,NaN,other_purse_seines,True,33.97,...,33.97,625.19,NaN,625.19,275.32,NaN,275.32,NaN,2020,220.57
1027717,601039500,ZAF,NaN,ZAF,other_purse_seines,0.783,NaN,other_purse_seines,True,26.86,...,26.86,355.47,NaN,355.47,124.85,NaN,124.85,NaN,2020,196.31
1027718,601557000,ZAF,ZAF,ZAF,other_purse_seines,0.869,fishing,other_purse_seines,False,30.82,...,30.82,555.06,NaN,555.06,214.47,190.00,190.00,IMO,2020,NaN

In [28]:
trawling_data = fishing_data_melt[fishing_data_melt['vessel_class_gfw'] == 'trawlers']
trawling_data_grouped = trawling_data.groupby(['flag_gfw','Date']).sum().reset_index()
trawling_data_grouped[trawling_data_grouped['flag_gfw'] =='USA']

,flag_gfw,Date,mmsi,vessel_class_inferred_score,length_m_inferred,length_m_registry,length_m_gfw,engine_power_kw_inferred,engine_power_kw_registry,engine_power_kw_gfw,tonnage_gt_inferred,tonnage_gt_registry,tonnage_gt_gfw,Hours
981,USA,2012,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,259296.44
982,USA,2013,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,286970.35
983,USA,2014,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,305495.70
984,USA,2015,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,360297.02
985,USA,2016,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,597031.74
986,USA,2017,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,775199.19
987,USA,2018,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,875861.85
988,USA,2019,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,860195.24
989,USA,2020,517632501619,1176.099,35667.73,23339.22,36010.39,354065.47,53548.92,348892.87,210647.28,107228.24,164295.53,1147258.18

In [29]:
os.chdir('c:\\Users\\Pablo\\Documents\\Climate DataThon 2022\\Climate-DataThon-2022\\Fishing Vessels and Trawling')
fishing_data = pd.read_csv('Data/fishing-vessels-v2.csv')
fishing_data.columns = ['mmsi', 'flag_ais', 'flag_registry', 'flag_gfw',
       'vessel_class_inferred', 'vessel_class_inferred_score',
       'vessel_class_registry', 'vessel_class_gfw',
       'self_reported_fishing_vessel', 'length_m_inferred',
       'length_m_registry', 'length_m_gfw', 'engine_power_kw_inferred',
       'engine_power_kw_registry', 'engine_power_kw_gfw',
       'tonnage_gt_inferred', 'tonnage_gt_registry', 'tonnage_gt_gfw',
       'registries_listed', 2012, 2013,
       2014, 2015, 2016,
       2017, 2018, 2019,
       2020]
fishing_data_melt = fishing_data.melt(id_vars=['mmsi', 'flag_ais', 'flag_registry', 'flag_gfw',
       'vessel_class_inferred', 'vessel_class_inferred_score',
       'vessel_class_registry', 'vessel_class_gfw',
       'self_reported_fishing_vessel', 'length_m_inferred',
       'length_m_registry', 'length_m_gfw', 'engine_power_kw_inferred',
       'engine_power_kw_registry', 'engine_power_kw_gfw',
       'tonnage_gt_inferred', 'tonnage_gt_registry', 'tonnage_gt_gfw', 'registries_listed'], 
        var_name="Date", 
        value_name="Hours")
trawling_data = fishing_data_melt[fishing_data_melt['vessel_class_gfw'] == 'trawlers']
trawling_data_grouped = trawling_data.groupby(['flag_gfw','Date']).sum().reset_index()
trawling_data_grouped = trawling_data_grouped[['flag_gfw', 'Date', 'Hours']]

,flag_gfw,Date,mmsi,vessel_class_inferred_score,length_m_inferred,length_m_registry,length_m_gfw,engine_power_kw_inferred,engine_power_kw_registry,engine_power_kw_gfw,tonnage_gt_inferred,tonnage_gt_registry,tonnage_gt_gfw,Hours
0,ABW,2012,307005349,0.910,17.01,0.0,17.01,228.27,0.0,228.27,38.09,0.0,38.09,0.00
1,ABW,2013,307005349,0.910,17.01,0.0,17.01,228.27,0.0,228.27,38.09,0.0,38.09,0.00
2,ABW,2014,307005349,0.910,17.01,0.0,17.01,228.27,0.0,228.27,38.09,0.0,38.09,276.00
3,ABW,2015,307005349,0.910,17.01,0.0,17.01,228.27,0.0,228.27,38.09,0.0,38.09,284.12
4,ABW,2016,307005349,0.910,17.01,0.0,17.01,228.27,0.0,228.27,38.09,0.0,38.09,188.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048,ZAF,2016,43299146600,67.278,2661.68,36.6,2664.15,57206.65,0.0,57206.65,34968.36,7630.0,34739.07,194268.04
1049,ZAF,2017,43299146600,67.278,2661.68,36.6,2664.15,57206.65,0.0,57206.65,34968.36,7630.0,34739.07,203244.39
1050,ZAF,2018,43299146600,67.278,2661.68,36.6,2664.15,57206.65,0.0,57206.65,34968.36,7630.0,34739.07,192959.22
1051,ZAF,2019,43299146600,67.278,2661.68,36.6,2664.15,57206.65,0.0,57206.65,34968.36,7630.0,34739.07,209200.88
1052,ZAF,2020,43299146600,67.278,2661.68,36.6,2664.15,57206.65,0.0,57206.65,34968.36,7630.0,34739.07,226933.56

# Using API

In [30]:
import requests

In [31]:
api_key = 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtpZEtleSJ9.eyJkYXRhIjp7Im5hbWUiOiJDT1BfRGF0YVRob24iLCJ1c2VySWQiOjIwOTQxLCJhcHBsaWNhdGlvbk5hbWUiOiJDT1BfRGF0YVRob24iLCJpZCI6MjQxLCJ0eXBlIjoidXNlci1hcHBsaWNhdGlvbiJ9LCJpYXQiOjE2NjQ5Nzc0MjIsImV4cCI6MTk4MDMzNzQyMiwiYXVkIjoiZ2Z3IiwiaXNzIjoiZ2Z3In0.TGc9n9SfJ3fmWNVHJPloQjWdVp-PHqEWoGfrV1-IzyXn0BVGJ0OdU4y5s0VvTc3sNSeQt6rd_gv1NyDTFxk5iSCF_ah8bDYpHvIEX7gxZJ6TXIpfGNMqgj3Pz6YiZEN0jomtpQqh0wkPERIIKMWtoE7TmmVI-qTTRvYv2CruUuM4nk27zMEhCM180n-s9ZK4M61biBNmfP0L-SJcttCkSA9uHahzpetaaDb2xuponIhEBdFlPdX_zFVnjjTYzZF0d5Q4xTVNp0JNXXRgIGC2qddO3i7aFUlffEHfiUnTG3eYcD_zmZGRo2ixUDwsq5ACfLXpPNtzA286PIEdj-dTEitRPn8vNE2ks3sIZoPnrSYo-6vsQwnF_4zGMsrIePw_eup0raxouQMTz5IDVpcK9ifvnCt3erPaqCjS0MGOzy4zIAEwwxrhCCyAXtSEQzC6tbQ0ZM5vNozcW4tY5oIq6UpBFOoug0Zbb0d2y38RLumoslLyh-tn_IZfEnUA4g0J'

In [46]:
import requests
from requests.auth import HTTPBasicAuth
auth = HTTPBasicAuth('apikey', api_key)
requests.get('https://gateway.api.globalfishingwatch.org/v2/events', auth = auth).text

'{"error":"Not authorized"}\n'

In [54]:

url = 'https://gateway.api.globalfishingwatch.org/v2/events'
headers = {'Authorization': f'Bearer {api_key}'}
auth = HTTPBasicAuth('apikey', '1234abcd')
requests.get(url, headers=headers).text

'{"metadata":{"query":"7831410","suggestion":null,"field":"shipname"},"total":1,"limit":1,"offset":0,"nextOffset":1,"entries":[{"callsign":"LW3058","firstTransmissionDate":"2016-12-20T20:27:39Z","flag":"ARG","geartype":"squid_jigger","id":"9b3e9019d-d67f-005a-9593-b66b997559e5","imo":"7831410","lastTransmissionDate":"2022-10-02T23:48:16Z","mmsi":"701000948","msgCount":550932990,"posCount":1896279,"shipname":"CLAUDINA","source":"AIS","vesselType":"Fishing","years":[2016,2017,2018,2019,2020,2021,2022],"dataset":"public-global-fishing-vessels:v20201001","score":87.928665}]}'