In [1]:
import pandas as pd
import os
import seaborn as sns

In [16]:
os.chdir('c:\\Users\\Pablo\\Documents\\Climate DataThon 2022\\Climate-DataThon-2022')

### Read SOCAT Data

In [ ]:
'''******************************************************************************							
**** NOTE: rows containing no data (cruise count is zero) are not printed ****							
******************************************************************************							
							
							
             DATA SET: ./SOCAT_tracks_gridded_monthly.nc							
             SOCAT gridded v2022 Monthly 1x1 degree gridded dataset							
             LONGITUDE: 179.5W(-179.5)							
             LATITUDE: 89.5S							
             TIME: 1970-01-16 12:00							
 Column  1: DATE is ISO Date representing the month midpoint (axis TMNTH)							
 Column  2: LAT is Latitude (axis YLAT)							
 Column  3: LON is Longitude (axis XLON)							
 Column  4: COUNT_NCRUISE is Number of cruises (count)							
 Column  5: FCO2_COUNT_NOBS is Number of fco2 obs (count)							
 Column  6: FCO2_AVE_WEIGHTED is fCO2 mean - per cruise weighted (uatm)							
 Column  7: FCO2_AVE_UNWTD is fCO2 mean - unweighted all obs (uatm)							
 Column  8: FCO2_MIN_UNWTD is fCO2 min (uatm)							
 Column  9: FCO2_MAX_UNWTD is fCO2 max (uatm)							
 Column 10: SST_COUNT_NOBS is Number of valid sst obs (count)							
 Column 11: SST_AVE_WEIGHTED is SST mean - per cruise weighted (degrees C)							
 Column 12: SST_AVE_UNWTD is SST mean - unweighted all obs (degrees C)							
 Column 13: SST_MIN_UNWTD is SST min (degrees C)							
 Column 14: SST_MAX_UNWTD is SST max (degrees C)							
 Column 15: SALINITY_COUNT_NOBS is Number of valid salinity obs (count)							
 Column 16: SALINITY_AVE_WEIGHTED is Salinity mean - per cruise weighted (PSU)							
 Column 17: SALINITY_AVE_UNWTD is Salinity mean - unweighted all obs (PSU)							
 Column 18: SALINITY_MIN_UNWTD is Salinity min (PSU)							
 Column 19: SALINITY_MAX_UNWTD is Salinity max (PSU)							
							
Missing values are represented as -1.E+34							
'''

In [24]:
SOCAT_monthly = pd.read_csv('Data\SOCATv2022_tracks_gridded_monthly.csv', skiprows=255)
SOCAT_monthly['DATE'] = pd.to_datetime(SOCAT_monthly['DATE'] )
SOCAT_monthly.head(10)

,DATE,LAT,LON,COUNT_NCRUISE_YEAR,FCO2_COUNT_NOBS_YEAR,FCO2_AVE_WEIGHTED_YEAR,FCO2_AVE_UNWTD_YEAR,FCO2_MIN_UNWTD_YEAR,FCO2_MAX_UNWTD_YEAR,SST_COUNT_NOBS_YEAR,SST_AVE_WEIGHTED_YEAR,SST_AVE_UNWTD_YEAR,SST_MIN_UNWTD_YEAR,SST_MAX_UNWTD_YEAR,SALINITY_COUNT_NOBS_YEAR,SALINITY_AVE_WEIGHTED_YEAR,SALINITY_AVE_UNWTD_YEAR,SALINITY_MIN_UNWTD_YEAR,SALINITY_MAX_UNWTD_YEAR
0,1970-02-15,9.5,156.5,1,1,303.672,303.672,303.672,303.672,1,28.2000,28.2000,28.2,28.2,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
1,1970-02-15,9.5,157.5,1,11,311.013,311.013,306.311,321.797,11,28.4091,28.4091,28.2,28.5,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
2,1970-02-15,9.5,158.5,1,8,321.322,321.322,316.141,326.150,8,28.3750,28.3750,28.2,28.5,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
3,1970-02-15,10.5,155.5,1,1,305.066,305.066,305.066,305.066,1,27.9000,27.9000,27.9,27.9,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
4,1970-02-15,10.5,156.5,1,4,305.424,305.424,302.806,307.795,4,28.0500,28.0500,28.0,28.1,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
5,1970-02-15,10.5,158.5,1,7,316.268,316.268,312.197,319.688,7,27.9714,27.9714,27.7,28.2,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
6,1970-02-15,11.5,154.5,1,1,312.031,312.031,312.031,312.031,1,27.8000,27.8000,27.8,27.8,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
7,1970-02-15,11.5,155.5,1,5,307.460,307.460,305.709,310.458,5,27.9000,27.9000,27.9,27.9,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
8,1970-02-15,11.5,158.5,1,7,316.924,316.924,312.901,322.048,7,27.6714,27.6714,27.6,27.7,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34
9,1970-02-15,12.5,153.5,1,1,306.911,306.911,306.911,306.911,1,27.6000,27.6000,27.6,27.6,0,-1.000000e+34,-1.000000e+34,-1.000000e+34,-1.000000e+34

Lets group by year to see an overall change in CO2

In [33]:
SOCAT_monthly.columns

Index(['DATE', ' LAT', ' LON', ' COUNT_NCRUISE_YEAR', ' FCO2_COUNT_NOBS_YEAR',
       ' FCO2_AVE_WEIGHTED_YEAR', ' FCO2_AVE_UNWTD_YEAR',
       ' FCO2_MIN_UNWTD_YEAR', ' FCO2_MAX_UNWTD_YEAR', ' SST_COUNT_NOBS_YEAR',
       ' SST_AVE_WEIGHTED_YEAR', ' SST_AVE_UNWTD_YEAR', ' SST_MIN_UNWTD_YEAR',
       ' SST_MAX_UNWTD_YEAR', ' SALINITY_COUNT_NOBS_YEAR',
       ' SALINITY_AVE_WEIGHTED_YEAR', ' SALINITY_AVE_UNWTD_YEAR',
       ' SALINITY_MIN_UNWTD_YEAR', ' SALINITY_MAX_UNWTD_YEAR'],
      dtype='object')

In [37]:
SOCAT_monthly.groupby(SOCAT_monthly.DATE.dt.year)[' FCO2_AVE_WEIGHTED_YEAR', ' FCO2_MIN_UNWTD_YEAR', ' FCO2_MAX_UNWTD_YEAR'].mean().reset_index()

C:\Users\Pablo\AppData\Local\Temp/ipykernel_17340/1059436680.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  SOCAT_monthly.groupby(SOCAT_monthly.DATE.dt.year)[' FCO2_AVE_WEIGHTED_YEAR', ' FCO2_MIN_UNWTD_YEAR', ' FCO2_MAX_UNWTD_YEAR'].mean().reset_index()

    DATE   FCO2_AVE_WEIGHTED_YEAR   FCO2_MIN_UNWTD_YEAR   FCO2_MAX_UNWTD_YEAR
0   1970               301.145795            298.402968            304.071412
1   1973               294.448030            289.051939            298.944121
2   1974               319.841720            316.847600            323.393760
3   1975               312.281735            308.930029            316.022559
4   1976               311.088020            308.035160            314.395120
5   1977               300.586000            299.535800            302.238929
6   1978               315.590949            312.806622            318.600783
7   1979               345.571385            340.570992            350.783540
8   1980               346.896434            342.863490            351.311953
9   1981               296.179182            290.986234            301.415653
10  1982               313.181930            307.226414            319.471698
11  1983               328.191942            323.974528            332.947905
12  1984               319.796236            315.025076            324.928373
13  1985               324.606735            319.450531            329.727930
14  1986               338.369043            335.370345            341.471622
15  1987               333.751649            329.016521            338.621892
16  1988               341.982455            337.321855            347.106065
17  1989               341.961646            335.675151            348.250955
18  1990               348.309490            345.134327            351.703155
19  1991               338.077885            333.666914            342.490043
20  1992               343.539400            339.469565            347.637104
21  1993               336.856271            331.661610            342.141797
22  1994               354.563205            348.244519            361.199394
23  1995               344.285188            337.711581            351.150050
24  1996               348.616172            341.529893            356.024697
25  1997               339.207398            330.812315            347.996246
26  1998               343.978138            336.701405            351.693214
27  1999               356.987069            348.579250            366.074217
28  2000               353.478902            342.860214            364.639638
29  2001               356.980551            346.533074            368.681473
30  2002               353.716964            346.130223            361.729408
31  2003               355.212114            347.502886            363.595515
32  2004               357.729757            348.919893            367.690878
33  2005               358.222963            349.628555            368.270189
34  2006               354.366101            344.616844            364.968402
35  2007               352.249292            343.151798            361.832980
36  2008               355.994990            346.668198            366.451974
37  2009               350.769793            340.049551            362.692851
38  2010               363.107155            352.951032            374.420251
39  2011               356.180445            345.224270            368.763794
40  2012               360.528463            349.912568            373.616677
41  2013               365.074225            354.528380            377.111935
42  2014               361.964776            349.627468            376.452311
43  2015               369.504513            359.294858            380.431319
44  2016               373.602499            363.913628            384.190854
45  2017               371.626069            360.352153            383.773040
46  2018               373.665976            359.364888            389.569417
47  2019               378.465081            364.181828            395.064869
48  2020               381.063514            368.450252            395.153776
49  2021               380.483013            366.026859            397.468490