In [2]:
import pandas as pd
import os
import seaborn as sns

In [1]:
os.chdir('c:\\Users\\Pablo\\Documents\\Climate DataThon 2022\\Climate-DataThon-2022\\FAOSTAT')

# Notes

Data from here: https://www.fao.org/faostat/en/#data/FBS

Aquatic Animals, Others
Aquatic Plants
Cephalopods
Crustaceans
Demersal Fish
Freshwater Fish
Marine Fish, Other
Meat, Aquatic Mammals
Molluscs, Other
Pelagic Fish

In [3]:
FAOSTAT = pd.read_csv('Data\FAOSTAT_data_en_10-2-2022.csv')
FAOSTAT

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2010,2010,1000 tonnes,3.25,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2011,2011,1000 tonnes,4.00,Im,FAO data based on imputation methodology
2,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2012,2012,1000 tonnes,4.78,Im,FAO data based on imputation methodology
3,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2013,2013,1000 tonnes,5.56,Im,FAO data based on imputation methodology
4,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2014,2014,1000 tonnes,6.36,Im,FAO data based on imputation methodology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74852,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2015,2015,kcal/capita/day,0.00,Fc,Calculated data
74853,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2016,2016,kcal/capita/day,0.00,Fc,Calculated data
74854,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2017,2017,kcal/capita/day,0.00,Fc,Calculated data
74855,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2018,2018,kcal/capita/day,0.00,Fc,Calculated data
74856,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2019,2019,kcal/capita/day,0.00,Fc,Calculated data

In [4]:
#Elements to consider (there are more I can download)
FAOSTAT['Element'].unique()

array(['Production', 'Import Quantity', 'Food',
       'Food supply quantity (kg/capita/yr)',
       'Food supply (kcal/capita/day)'], dtype=object)

Total countries

In [5]:
FAOSTAT['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'Netherlands Antilles (former)',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

# Lets look at the amount produced?

In [6]:
FAOSTAT_produced = FAOSTAT[FAOSTAT['Element'] == 'Production']
FAOSTAT_produced

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2010,2010,1000 tonnes,3.25,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2011,2011,1000 tonnes,4.00,Im,FAO data based on imputation methodology
2,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2012,2012,1000 tonnes,4.78,Im,FAO data based on imputation methodology
3,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2013,2013,1000 tonnes,5.56,Im,FAO data based on imputation methodology
4,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2761,Freshwater Fish,2014,2014,1000 tonnes,6.36,Im,FAO data based on imputation methodology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74652,FBS,Food Balances (2010-),181,Zimbabwe,5511,Production,2765,Crustaceans,2015,2015,1000 tonnes,0.00,Im,FAO data based on imputation methodology
74653,FBS,Food Balances (2010-),181,Zimbabwe,5511,Production,2765,Crustaceans,2016,2016,1000 tonnes,0.00,Im,FAO data based on imputation methodology
74654,FBS,Food Balances (2010-),181,Zimbabwe,5511,Production,2765,Crustaceans,2017,2017,1000 tonnes,0.00,Im,FAO data based on imputation methodology
74655,FBS,Food Balances (2010-),181,Zimbabwe,5511,Production,2765,Crustaceans,2018,2018,1000 tonnes,0.00,Im,FAO data based on imputation methodology
74656,FBS,Food Balances (2010-),181,Zimbabwe,5511,Production,2765,Crustaceans,2019,2019,1000 tonnes,0.00,Im,FAO data based on imputation methodology

### Group by Country since we want an aggregate?

In [8]:
FAOSTAT_produced_grouped = FAOSTAT_produced.groupby(['Area', 'Year']).mean().reset_index()
FAOSTAT_produced_grouped

,Area,Year,Area Code (FAO),Element Code,Item Code,Year Code,Value
0,Afghanistan,2010,2.0,5511.0,2761.0,2010.0,3.25
1,Afghanistan,2011,2.0,5511.0,2761.0,2011.0,4.00
2,Afghanistan,2012,2.0,5511.0,2761.0,2012.0,4.78
3,Afghanistan,2013,2.0,5511.0,2761.0,2013.0,5.56
4,Afghanistan,2014,2.0,5511.0,2761.0,2014.0,6.36
...,...,...,...,...,...,...,...
1780,Zimbabwe,2015,181.0,5511.0,2763.0,2015.0,12.75
1781,Zimbabwe,2016,181.0,5511.0,2763.0,2016.0,12.90
1782,Zimbabwe,2017,181.0,5511.0,2763.0,2017.0,13.40
1783,Zimbabwe,2018,181.0,5511.0,2763.0,2018.0,13.40
1784,Zimbabwe,2019,181.0,5511.0,2763.0,2019.0,13.40